<div class="mt-4">
    <h1>Dang Khoa Hoc</h1>
    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Input name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input name="description" type="text" class="form-control" id="description" placeholder="Input description">
        </div>

        <div class="mb-3">
            <label for="videoId" class="form-label">VideoId:</label>
            <input name="videoId" type="text" class="form-control" id="videoId" placeholder="Input videoid">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Level:</label>
            <input name="level" type="text" class="form-control" id="text" placeholder="Input level">
        </div>

        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div>