<form method="POST" action="" class="mt-4 mb-3">
  <label for="exampleFormControlInput1" class="form-label">Tu khoa</label>
  <input type="text" name="q" class="form-control" id="exampleFormControlInput1" placeholder="Nhap tu khoa tim kiem...">
  <div>
    <select name="gender" class="form-control">
        <option value="">-- Chon gioi tinh --</option>
        <option value="female">Male</option>
        <option value="female">Female</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Tim kiem</button>
</form>